{% extends 'equipes/layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>ÉDITION ÉQUIPE :</h1>
        <div class="jumbotron" style="color:black;">

        {{ form_start(edit_form) }}

                {{ form_widget(edit_form) }}

        {{ form_widget(edit_form) }}


            <button class="btn_equipe btn" type="submit" value="Edit">ÉDITER</button>
        {{ form_end(edit_form) }}

            <a href="{{ path('equipes_index') }}"><button class="btn_equipe btn">RETOUR À LA LISTE</button></a>

                {{ form_start(delete_form) }}
            <button class="btn_equipe btn" type="submit" value="Delete">SUPPRIMER</button>
                {{ form_end(delete_form) }}

    </div>
    </div>
{% endblock %}
