{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1>LISTE DES ÉQUIPES</h1>

        <div class="panel panel-default">
            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de l'entraîneur</th>
                    <th>Nom du club</th>
                    <th>Championnat</th>
                    <th>Catégorie</th>
                    <th>Numéro d'équipe</th>
                    <th>Modifications</th>
                </tr>
                </thead>
                <tbody>

                {% for equipe in equipes %}
                    <tr>
                        <td>{{ nom }} {{ prenom }}</td>
                        <td>{{ equipe.entraineurNomClub }}</td>
                        <td>{{ equipe.championnat }}</td>
                        <td>{{ equipe.categorie }}</td>
                        <td>{{ equipe.numEquipe }}</td>
                        <td>

                            <a href="{{ path('equipes_show', { 'id': equipe.id }) }}">
                                <button class="btn-style btn">DÉTAILS</button>
                            </a>

                            <a href="{{ path('equipes_edit', { 'id': equipe.id }) }}">
                                <button class="btn-style btn">L'ÉQUIPE</button>
                            </a>

                            <a href="{{ path('joueurs_index', { 'id': equipe.id }) }}">
                                <button class="btn-style btn">LES JOUEURS</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>


            </table>
        </div>

        <a href="{{ path('equipes_new') }}">
            <button class="btn-style btn" >CRÉER UNE NOUVELLE ÉQUIPE</button>
        </a>

    </div>
{% endblock %}
