{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/admin_equipes.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>CRÉATION ÉQUIPE :</h1>
        <div class="jumbotron" style="color:black;">
            {{ form_start(form, {'method': 'post', 'action': path('equipes_new')}) }}

            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    <label for="nom_entraineur">Nom de l'entraîneur</label>
                </div>
                <div class="row">
                    <div class="form-control input-lg non_modif">
                        {{ nom }} {{ prenom }}
                    </div>
                </div>
            </div>
            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {#{{ form_label(form.entraineurNomClub, null, {'label': 'Nom du club'}) }}#}
                    <label for="">Nom du club</label>
                </div>
                <div class="row">
                    {#<input type="text" id="{{ form.entraineurNomClub.vars.id }}" name="{{ form.entraineurNomClub.vars.full_name }}" required="required"  value="{{ club }}"/>#}
                    <div class="form-control input-lg non_modif">
                        {{ club }}
                    </div>
                </div>
            </div>
            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {{ form_label(form.championnat) }}
                </div>
                <div class="row erreurs text-center">
                    {{ form_errors(form.championnat) }}
                </div>
                <div class="row">
                    {{ form_widget(form.championnat, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>
            </div>
            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {{ form_label(form.categorie, null, {'label': 'Catégorie'}) }}
                </div>
                <div class="row erreurs text-center">
                    {{ form_errors(form.categorie) }}
                </div>
                <div class="row">
                    {{ form_widget(form.categorie, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>
            </div>
            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {{ form_label(form.numEquipe, null, {'label': "Numéro d'équipe"}) }}
                </div>
                <div class="row erreurs text-center">
                    {{ form_errors(form.numEquipe) }}
                </div>
                <div class="row">
                    {{ form_widget(form.numEquipe, { 'attr': {'class': 'form-control input-lg'} }) }}
                </div>
            </div>
            <br>
            <div class="col-lg-3 col-md-4 col-sm-5 text-right boutons_bas">
                <div class="row">
                        <button class="btn-style btn-align btn btn-block" type="submit" value="Create">CRÉER</button>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 text-right boutons_bas">
                <a href="{{ path('equipes_index') }}">
                    <button class="btn-style btn-align btn btn-block">RETOUR À LA LISTE</button>
                </a>
            </div>
            </div>
        </div>
    </div>


{% endblock %}
