{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/menu.css') }}">
{% endblock %}


{% block content %}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row presentation">
                <div class="col-xs-6 illustration-box">
                    <a href="{{ path('equipes_index') }}">
                        <img class="img-responsive illustration"
                             src="{{ asset('build/images/gestion_equipe.e3279801.jpeg') }}"
                             alt="Gestion d'équipe"><h2 class="texteIllustration">Gestion d'équipe</h2></a>
                </div>
                <div class="col-xs-6 illustration-box">
                    <a href="{{ path('AvantMatch') }}">
                        <img class="img-responsive illustration"
                             src="{{ asset('build/images/lancer_match.ec3ab104.jpeg') }}"
                             alt="Avant match"><h2 class="texteIllustration text-center">Lancer le match</h2></a>
                </div>
            </div>
            <div class="row presentation">
                <div class="col-xs-6 illustration-box">
                    <a href="{{ path('listeEquipe') }}">
                        <img class="img-responsive illustration"
                             src="{{ asset('build/images/stats_globales.d90bb96a.jpeg') }}"
                             alt="Statistiques"><h2 class="texteIllustration text-center">Statistiques</h2></a>
                </div>
                <div class="col-xs-6 illustration-box">
                    <a href="{{ path('didacticiel') }}">
                        <img class="img-responsive illustration"
                             src="{{ asset('build/images/didacticiel.5b7d4076.jpeg') }}"
                             alt="Statistiques"><h2 class="texteIllustration text-center">Didacticiel</h2></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
