{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/menu.css') }}">
{% endblock %}


{% block content %}{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a href="{{ path('equipes_index') }}">
                        <img class="img-responsive"
                             src="{{ asset('build/images/gestion_equipe.3a50e2f3.jpg') }}"
                             alt="Gestion d'équipe"></a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="{{ path('AvantMatch') }}"><img class="img-responsive"
                                                            src="{{ asset('build/images/lancer_match.54a74f93.jpg') }}"
                                                            alt="Avant match"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-center">
                    <a href="{{ path('statsmatch') }}"><img
                                src="{{ asset('build/images/stats_globales.ce3400b6.jpg') }}" alt="Statistiques"></a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="#"><img src="http://via.placeholder.com/4000x3000" alt="???"></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
