{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/menu.css') }}">
{% endblock %}


{% block content %}{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row presentation">
                <div class="col-xs-6 text-center">
                    <a href="{{ path('equipes_index') }}">
                        <img class="img-responsive illustration"
                             src="{{ asset('build/images/gestion_equipe.3a50e2f3.jpg') }}"
                             alt="Gestion d'équipe"><h2 class="texteIllustration">Gestion d'équipe</h2></a>
                </div>
                <div class="col-xs-6 text-center">
                    <a href="{{ path('AvantMatch') }}">
                        <img class="img-responsive illustration"
                             src="{{ asset('build/images/lancer_match.54a74f93.jpg') }}"
                             alt="Avant match"><h2 class="texteIllustration text-center">Lancer le match</h2></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-6 text-center">
                    <a href="{{ path('statsmatch') }}">
                        <img class="img-responsive illustration"
                             src="{{ asset('build/images/stats_globales.ce3400b6.jpg') }}"
                             alt="Statistiques"><h2 class="texteIllustration text-center">Statistiques</h2></a>
                </div>
                <div class="col-xs-3"></div>
            </div>
        </div>
    </section>
{% endblock %}
