<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block header %}
    <!-- navigation -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('coachMenu') }}">
                    <img class="logo" alt="vistao football logo brand" src="{{ asset('build/images/logo_vistao.5263432c.png') }}">
                </a>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
{% endblock header %}


{%  block content %}
<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Bienvenue {{ app.user.username }}
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'Se déconnecter'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'Se connecter'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
{% endblock %}

{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}


<!-- these two files now must be included in every page -->
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/jquery_jqueryUi.js') }}"></script>

<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>