{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/style_clavier.css') }}">
<link rel="stylesheet" href="{{ asset('build/avantMatch.css') }}">
{% endblock %}



{% block body %}
<div class="container-fluid">
  <div class="row topEquipe justify-content-center">
    <div class="col-xs-12 col-sm-6 ">
      <div class="localEquipe">
        <label for="">Choisir son équipe :</label>
        <select class="" name="" style="color:black;">

          {% for equipe in equipes %}
          <option value=""></option>
          <option value="{{ equipe.id }}">{{ equipe.championnat }}, {{ equipe.categorie }}, {{ equipe.numEquipe }} </option>

          {% endfor %}
        </select>
    </div>
      </div>
    <div class="col-xs-12 col-sm-6 ">
      <div class="advEquipe">

      <input type="text" name="" value="" placeholder="veuillez entrer le nom de l'equipe adverse">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="justify-content-left">
      <div class="joueurs">
        <ul class="row">

        </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-6 lancezmatch">

    </div>
    <div class="col-6">
    </div>

  </div>

</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">


var id = "";
$("select").change( function () {

  id = $("select option:selected").val();
  console.log(id);
  $("ul").html("");
  $(".lancezmatch").html("");


  $.ajax({
    url: "joueurByEquipe/" + id,

    success : function(code_html, statut){
      var obj = JSON.parse(code_html);
      var i =0;
      obj.forEach(function(element) {
        i++;
        //  console.log(obj.forEach(function(element){ $(this).append(element.nom) }));
        $("ul").append("<li class='col-xs-4 col-md-3'><select class='selectJoueur'><option>joueur"+i+"</option></select></li>")

      })

      obj.forEach(function(element) {
        $(".selectJoueur").append("<option value='"+element.nom+" "+element.prenom+"'>"+element.nom+" "+element.prenom+"</option>")
      })

        $(".lancezmatch").append("<button type='submit' name='lancezmatch'>Lancez le match</button>")

    }
  })
})

$(".selectJoueur").change( function () {
  // find the other selects
  var otherSelects = $('.selectJoueur').not(this);
  console.log(otherSelects);
  // get the old value of this select
  var oldValue = $(this).data('old');
  //remove disabled from the other selects option for the old value
  if (oldValue)
    otherSelects.find('option[value=' + oldValue + ']').removeAttr('disabled');
  //add disabled for the other selects option for the new value
  if (this.value)
    otherSelects.find('option[value=' + this.value + ']').attr('disabled', 'disabled');
  // store the new value as old
  $(this).data('old', this.value);

});



</script>
{% endblock %}
