{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/style_clavier.css') }}">
    <link rel="stylesheet" href="{{ asset('build/admin_equipes.css') }}">
{% endblock %}

{% block content %}{% endblock %}

{% block body %}
    <body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><p id="resume"></p></div>
            <div class="col-xs-12"><p>{% if equipe.adverse is defined and equipe.adverse is not same as ("")%}{{ equipe.adverse }}{% else %}adversaire{% endif %} : <span id="butadv">0</span> - <span id="butclub">0</span>  {{ entraineur.nomClub }} </p></div>


        </div>

        <div class="keyboard">
            <div class="row">
                <div value="0123" class="col-xs-4 adverse_pad highlight_pads counter-click joueur" id="adversaire"
                     data-color="red" >
                    <p>{% if equipe.adverse is defined and equipe.adverse is not same as ("")%}{{ equipe.adverse }}{% else %}Adverse{% endif %}<br></p>
                    <div class="counter-count">0</div>
                </div>
                <!-- Trigger modal MI-TEMPS -->
                <div type="button"
                     class="reset-counter pause-btn col-xs-3 middle_pad highlight_pads verticalcenter"
                     data-toggle="modal"
                     data-target=".bs-modal-mi-temps" data-color="#ff0011" style="color: white;">
                    <p><span class="in-btn glyphicon glyphicon-pause" aria-hidden="true"></span> MI-TEMPS </p>

                </div>
                <!-- Trigger modal FIN DU MATCH -->
                <div type="button" class=" col-xs-3 middle_pad highlight_pads" data-toggle="modal"
                     data-target=".bs-modal-fin" data-color="#ff0011">
                    <div class="fin-match reset-counter verticalcenter">
                        <p>FIN DE MATCH</p>
                    </div>
                </div>
                <div class="col-xs-2 middle_pad">
                    <div class="m-wrap verticalcenter">
                        <div class="o-watch-wrap">
                            <div class="o-timer">
                                <span class="t-time"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div  value="1" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur1">
                    <p>{% if equipe.joueur1 is defined and equipe.joueur1 is not same as ("") %}{{ equipe.joueur1 }}{% else %}?{% endif %}</p>
                </div>
                <div value="2" class="reset-counter-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur2">
                    <p>{% if equipe.joueur2 is defined and equipe.joueur2 is not same as ("")%}{{ equipe.joueur2 }}{% else %}?{% endif %}</p>
                </div>
                <div value="3" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c353" id="joueur3">
                    <p>{% if equipe.joueur3 is defined and equipe.joueur3 is not same as ("")%}{{ equipe.joueur3 }}{% else %}?{% endif %}</p>
                </div>
                <div value="4" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253"id="joueur4">
                    <p>{% if equipe.joueur4 is defined and equipe.joueur4 is not same as ("")%}{{ equipe.joueur4 }}{% else %}?{% endif %}</p>
                </div>
                <div value="109" class="reset-counter action verticalcenter col-xs-3 purplemiddle_pad highlight_pads"
                     data-color="purple">
                    <p>CENTRE</p>
                </div>
                <div value="110" class="reset-counter actionX verticalcenter col-xs-3 purplemiddle_pad highlight_pads"
                     data-color="purple">
                    <p>TIR CADRÉ</p>
                </div>
                <div value="111"
                     class="reset-counter actionX verticalcenter col-xs-2 redmiddle_pad highlight_pads"
                     data-color="red">
                    <p>TIR NON CADRÉ</p>
                </div>
            </div>

            <div class="row">
                <div value="5" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c353"id="joueur5">
                    <p>{% if equipe.joueur5 is defined and equipe.joueur5 is not same as ("") %}{{ equipe.joueur5 }}{% else %}?{% endif %}</p>
                </div>
                <div value="6" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c353"id="joueur6">
                    <p>{% if equipe.joueur6 is defined and equipe.joueur6 is not same as ("") %}{{ equipe.joueur6 }}{% else %}?{% endif %}</p>>
                </div>
                <div value="7" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c353"id="joueur7">
                    <p>{% if equipe.joueur7 is defined and equipe.joueur7 is not same as ("") %}{{ equipe.joueur7 }}{% else %}?{% endif %}</p>
                </div>
                <div value="8" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c353"id="joueur8">
                    <p>{% if equipe.joueur8 is defined and equipe.joueur8 is not same as ("") %}{{ equipe.joueur8 }}{% else %}?{% endif %}</p>
                </div>
                <div value="112" class="reset-counter action verticalcenter col-xs-3 purplemiddle_pad highlight_pads"
                     data-color="purple">
                    <p>PASSE LONGUE</p>
                </div>
                <div value="113" class="actionDR reset-counter verticalcenter col-xs-3 purplemiddle_pad highlight_pads"
                     data-color="purple">
                    <p>DRIBBLE REUSSI</p>
                </div>
                <div value="114" class="actionX reset-counter verticalcenter col-xs-2 redmiddle_pad highlight_pads"
                     data-color="red">
                    <p>DRIBBLE ECHOUÉ</p>
                </div>
            </div>

            <div class="row">
                <div value="9" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur9">
                    <p>{% if equipe.joueur9.id is defined and equipe.joueur9 is not same as ("") %}{{ equipe.joueur9 }}{% else %}?{% endif %}</p>
                </div>
                <div value="10" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur10">
                    <p>{% if equipe.joueur10 is defined and equipe.joueur10 is not same as ("") %}{{ equipe.joueur10 }}{% else %}?{% endif %}</p>
                </div>
                <div value="11" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur11">
                    <p>{% if equipe.joueur11 is defined and equipe.joueur11 is not same as ("") %}{{ equipe.joueur11 }}{% else %}?{% endif %}</p>
                </div>
                <div value="12" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur12">
                    <p>{% if equipe.joueur12 is defined and equipe.joueur12 is not same as ("") %}{{ equipe.joueur12 }}{% else %}?{% endif %}</p>
                </div>
                <!-- Trigger modal BUT -->
                <div type="button" class="  AfTC reset-counter verticalcenter col-xs-6 purplebig_pad highlight_pads"
                     data-toggle="modal"
                     data-target=".bs-modal-but" data-color="purple">
                    <p>BUT</p>
                </div>
                <div value="118"
                     class="reset-counter actionSPE AfTC actionX verticalcenter col-xs-2 redmiddle_pad highlight_pads"
                     data-color="red">
                    <p>TIR CONTRE</p>
                </div>
            </div>

            <div class="row">
                <div value="13" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur13">
                    <p>{% if equipe.joueur13 is defined and equipe.joueur13 is not same as ("") %}{{ equipe.joueur13 }}{% else %}?{% endif %}</p>
                </div>
                <div value="14" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur14">
                    <p>{% if equipe.joueur14 is defined and equipe.joueur14 is not same as ("") %}{{ equipe.joueur14 }}{% else %}?{% endif %}</p>
                </div>
                <div value="15" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur15">
                    <p>{% if equipe.joueur15 is defined and equipe.joueur15 is not same as ("") %}{{ equipe.joueur15 }}{% else %}?{% endif %}</p>
                </div>
                <div value="16" class="reset-counter joueur verticalcenter col-xs-1 green_pad highlight_pads"
                     data-color="#00c253" id="joueur16">
                    <p>{% if equipe.joueur16 is defined and equipe.joueur16 is not same as ("")%}{{ equipe.joueur16 }}{% else %}?{% endif %}
                    </p>
                </div>
                <!-- Trigger modal FAUTE -->
                <div type="button" class="actionF reset-counter verticalcenter col-xs-2 yellowmiddle_pad highlight_pads"
                     data-toggle="modal"
                     data-target=".bs-modal-faute" data-color="red">
                    <p>FAUTE<br></p>
                </div>
                <div value="105" class="reset-counter actionX verticalcenter col-xs-2 yellow_pad highlight_pads"
                     data-color="red">
                    <p>TOUCHE</p>
                </div>

                <div value="106" class="reset-counter actionX verticalcenter col-xs-2 yellow_pad highlight_pads"
                     data-color="red">
                    <p>CORNER</p>
                </div>

                <div value="107" class="reset-counter actionX verticalcenter col-xs-1 yellow_pad highlight_pads"
                     data-color="red">
                    <p>5M50</p>
                </div>

                <div value="108" class="reset-counter actionX verticalcenter col-xs-1 yellow_pad highlight_pads"
                     data-color="red">
                    <p>H.J</p>
                </div>
            </div>

            <!-- Modal BUT -->
            <div class="modal fade bs-modal-but" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <!-- Modal content-->
                    <div class="modal-content" style="background-color: black;">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">CONFIRMER LE BUT</label>
                            </div>
                            <div value="115" data-color="#ff0011"
                                 class=" actionSPE AfTC BUT actionX reset-counter purple_pad verticalcenter"
                                 data-dismiss="modal">
                                <p>TETE</p>
                            </div>
                            <div value="116" data-color="#ff0011"
                                 class=" actionSPE AfTC BUT actionX reset-counter purple_pad verticalcenter"
                                 data-dismiss="modal">
                                <p>REPRISE</p>
                            </div>
                            <div value="117" data-color="#ff0011"
                                 class="actionSPE AfTC BUT actionX reset-counter purple_pad verticalcenter" data-dismiss="modal">
                                <p>POTEAU</p>
                            </div>
                            <div value="666" data-color="#ff0011"
                                 class="actionSPE AfTC BUT actionX reset-counter purple_pad verticalcenter" data-dismiss="modal">
                                <p>But contre son camp</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal FAUTE -->
            <div class="modal fade bs-modal-faute" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div value="101" data-color="red" class="reset-counter yellow_pad actionX verticalcenter"
                             data-dismiss="modal">
                            <p>FAUTE</p>
                        </div>
                        <div value="102" data-color="red" class="reset-counter yellow_pad actionX verticalcenter"
                             data-dismiss="modal">
                            <p>JAUNE</p>
                        </div>
                        <div value="103" data-color="red" class="reset-counter yellow_pad actionX verticalcenter"
                             data-dismiss="modal">
                            <p>ROUGE</p>
                        </div>
                        <div value="104" data-color="red"
                             class="reset-counter yellow_pad actionX verticalcenter" data-dismiss="modal">
                            <p>PENALTY</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal FIN DU MATCH -->
            <div class="modal fade bs-modal-fin" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <!-- Modal content-->
                    <div class="modal-content" style="background-color: black;">
                        <p>CONFIRMER ?</p>
                        <div class="row">
                            <div class="col-xs-6">
                                    <span class="glyphicon glyphicon-remove"
                                          aria-hidden="true" data-dismiss="modal"></span>
                            </div>

                            <div class="col-xs-6">
                                    <span class="glyphicon glyphicon-ok"
                                          aria-hidden="true" data-dismiss="modal"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal MI-TEMPS -->
            <div class="modal fade bs-modal-mi-temps" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <!-- Modal content-->
                    <div class="modal-content" style="background-color: black;">
                        <p>CONFIRMER ?</p>
                        <div class="row">
                            <a href="#" class="mi-temps verticalcenter">
                                <div value="" data-color="#ff0011" class="yellow_pad actionX" data-dismiss="modal">
                                    <p>FIN MT1</p>
                                </div>
                            </a>
                            <a href="#" class="mi-temps verticalcenter">
                                <div value="" data-color="#ff0011" class="yellow_pad actionX" data-dismiss="modal">
                                    <p>FIN MT2</p>
                                </div>
                            </a>
                            <a href="#" class="mi-temps verticalcenter">
                                <div value="" data-color="#ff0011" class="yellow_pad actionX" data-dismiss="modal">
                                    <p>PROLONGATION</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>
{% endblock %}

    {% block javascripts %}
        <!-- here you link to the specific JS files needed by the current page -->
        <script src="{{ asset('build/clavier.js') }}"></script>
    {% endblock %}
