
    {% trans_default_domain 'FOSUserBundle' %}

    {% block fos_user_content %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <link rel="stylesheet" href="{{ asset('build/connexion.css') }}">

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {%  endif %}


        <section class="global">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card border-none">
                            <div class="col-lg-12">
                                <div class="img col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
                                    <img class="img-responsive" src="{{ asset('build/images/Vistao football bk.02bd3d43.png') }}" alt="logo_connexion" width="460" height="345" class="brand-logo"/>
                                </div>

                                <div class="col-md-offset-3 col-md-6">
                                    <div class="form-group input-lg">
                                        <label for="username">{{ ""|trans }}</label>
                                        <input class="form-control input-lg" type="text" id="username" name="_username" placeholder="Adresse email ou nom d'utilisateur" value="{{ last_username }}" required="required" />
                                    </div>

                                    <div class="form-group input-lg">
                                        <label for="password">{{ ''|trans }}</label>
                                        <input class="form-control input-lg" type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />
                                    <div>

                                    <div class="checkbox col-md-offset-3 col-md-8 col-sm-offset-4 col-sm-8">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                        <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
                                    </div>

                                    <button type="submit" class="connexion btn btn-block input-lg" id="_submit" name="_submit" value="{{ 'Connexion'|trans }}">Connexion
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
            </div>
        </div>
            </div>
        </section>
        </form>
    {% endblock fos_user_content %}