{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>ÉDITION DU JOUEUR :</h1>
        <div class="jumbotron" style="color:black;">

            {{ form_start(edit_form, {'method': 'post', 'action': path('joueurs_edit', { 'id': joueur.id }) }) }}

            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {{ form_label(edit_form.prenom, null, {'label': 'Prénom'}) }}
                </div>
                <div class="row erreurs text-center">
                    {{ form_errors(edit_form.prenom) }}
                </div>
                <div class="row">
                    {{ form_widget(edit_form.prenom) }}
                </div>
            </div>
            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {{ form_label(edit_form.nom, null, {'label': 'Nom'}) }}
                </div>
                <div class="row erreurs text-center">
                    {{ form_errors(edit_form.nom) }}
                </div>
                <div class="row">
                    {{ form_widget(edit_form.nom) }}
                </div>
            </div>
            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {{ form_label(edit_form.numMaillot, null, {'label': "Numéro du maillot"}) }}
                </div>
                <div class="row erreurs text-center">
                    {{ form_errors(edit_form.numMaillot) }}
                </div>
                <div class="row">
                    {{ form_widget(edit_form.numMaillot) }}
                </div>
            </div>
            <div class="form-group input-lg col-lg-12">
                <div class="row">
                    {{ form_label(edit_form.poste, null, {'label': "Poste"}) }}
                </div>
                <div class="row erreurs text-center">
                    {{ form_errors(edit_form.poste) }}
                </div>
                <div class="row">
                    {{ form_widget(edit_form.poste) }}
                </div>
            </div>


            <button class="btn-style btn" type="submit" value="Edit">ÉDITER</button>
            {{ form_end(edit_form) }}

            <a href="{{ path('joueurs_index', { 'id': equipe_id }) }}"><button class="btn-style btn">RETOUR À LA LISTE DES JOUEURS</button></a>

            {{ form_start(delete_form) }}
            <button class="btn-style btn" type="submit" value="Delete">SUPPRIMER</button>
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}
