{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>LES JOUEURS</h1>

<div class="panel panel-default">
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Numéro du maillot</th>
                <th>Poste</th>
                <th>Modifications</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.prenom }}</td>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.numMaillot }}</td>
                <td>{{ joueur.poste }}</td>
                <td>
                    <a href="{{ path('joueurs_edit', { 'id': joueur.id }) }}">
                        <button class="btn-style btn">ÉDITER</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{{ path('joueurs_new', { 'id': equipeid }) }}">
        <button class="btn-style btn" >CRÉER UN NOUVEAU JOUEUR</button>
    </a>
    <a href="{{ path('equipes_index') }}">
        <button class="btn-style btn" >RETOUR À LA LISTE DES ÉQUIPES</button>
    </a>
</div>
{% endblock %}
