{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/style_accueil.css') }}">
{% endblock stylesheets %}

{%  block body %}
    <div class="container_boutons">
        <div class="row.row-eq-height">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                <a href="{{ path('coachMenu') }}" class="btn btn-block boutons_choix acces_appli"><p>Accéder à</p><p>l'application</p></a>
                </div>

            {#<div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-6 col-xs-6">
                <a href="{{ path('coachMenu') }}" class="btn btn-block boutons_choix acces_appli"><p>Accéder à</p><p>l'application</p></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <a href="#" class="btn btn-block boutons_choix use_appli"><p>Comment utiliser</p><p>l'application ?</p></a>
            </div>#}
            {% else %}
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn btn-block boutons_choix creer_compte"><p>Créer un compte</p><p>entraîneur</p></a>
                </div>
            {#<div class="col-lg-4 col-lg-offset-2 col-md-6 col-sm-6 col-xs-6">
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-block boutons_choix creer_compte"><p>Créer un compte</p><p>entraîneur</p></a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                <a href="#" class="btn btn-block boutons_choix use_appli"><p>Comment utiliser</p><p>l'application ?</p></a>
            </div>#}
            {% endif %}
        </div>
    </div>
{%  endblock body %}
