{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stats.css') }}">
{% endblock %}

{% block body %}
    <body>

    {% include 'stats/base_stats.html.twig' %}

    <div class="container-fluid">

        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <h1>DISCIPLINE</h1>
            </div>
        </div>

        <div class="row">
            <div class="stats">
                <div class="statsshow">

                    <div class=" text-center"><a href="{{ path('statsmatch') }}">
                            <span class="glyphicon glyphicon-backward"></span></a>
                    </div>

                    <br>

                    <h3>5m50</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{  ((cinqR / (cinqR + cinqL))*100)|round(0,'floor')  }}%">
                            <p>{{ cinqR }}</p>
                        </div>
                        <div class="progress-bar progress-bar-adv" style="width: {{  ((cinqL / (cinqR + cinqL))*100)|round(0,'floor')  }}%">
                            <p>{{ cinqL }}</p>
                        </div>
                    </div>


                    <h3>Touches</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{  ((touchesR / (touchesR + touchesL))*100)|round(0,'floor')  }}%">
                            <p>{{ touchesR }}</p>
                        </div>
                        <div class="progress-bar progress-bar-adv" style="width: {{  ((touchesL / (touchesR + touchesL))*100)|round(0,'floor')  }}%">
                            <p>{{ touchesL }}</p>
                        </div>
                    </div>


                    <h3>Hors-jeux</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{  ((hjAmis / (hjAmis + hjEnnemis))*100)|round(0,'floor')  }}%">
                            <p>{{ hjAmis }}</p>
                        </div>
                        <div class="progress-bar progress-bar-adv" style="width: {{  ((hjEnnemis / (hjAmis + hjEnnemis))*100)|round(0,'floor')  }}%">
                            <p>{{ hjEnnemis }}</p>
                        </div>
                    </div>

                    <h3>Corner</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{  ((cornersR / (cornersR + cornersL))*100)|round(0,'floor')  }}%">
                            <p>{{ cornersR }}</p>
                        </div>
                        <div class="progress-bar progress-bar-adv" style="width: {{  ((cornersL / (cornersR + cornersL))*100)|round(0,'floor')  }}%">
                            <p>{{ cornersL }}</p>
                        </div>
                    </div>


                    <h3>Fautes</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{  ((fauteR / (fauteR + fauteL))*100)|round(0,'floor')  }}%">
                            <p>{{ fauteR }}</p>
                        </div>
                        <div class="progress-bar progress-bar-adv" style="width: {{  ((fauteL / (fauteR + fauteL))*100)|round(0,'floor')  }}%">
                            <p>{{ fauteL }}</p>
                        </div>
                    </div>


                    <h3>Cartons Jaunes</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{  ((fauteJR / (fauteJR + fauteJL))*100)|round(0,'floor')  }}%">
                            <p>{{ fauteJR }}</p>
                        </div>
                        <div class="progress-bar progress-bar-adv" style="width: {{  ((fauteJL / (fauteJR + fauteJL))*100)|round(0,'floor')  }}%">
                            <p>{{ fauteJL }}</p>
                        </div>
                    </div>


                    <h3>Cartons Rouges</h3>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{  ((fauteRR / (fauteRR + fauteLR))*100)|round(0,'floor')  }}%">
                            <p>{{ fauteRR }}</p>
                        </div>
                        <div class="progress-bar progress-bar-adv" style="width: {{  ((fauteLR / (fauteRR + fauteLR))*100)|round(0,'floor')  }}%">
                            <p>{{ fauteLR }}</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </body>




{% endblock %}


{% block javascript %}

{% endblock %}
