{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stats.css') }}">
{% endblock %}

{% block body %}

    {% include 'stats/base_stats.html.twig' %}

    </br>

    <div class="stats">
        <div class="statsshow">


            <h1><a href="{{ path('possession') }}">POSSESSION</a></h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: {{ stats['possession'] *100 }}%">
                    <p>{{ stats['possession'] *100 }}</p>
                </div>
                <div class="progress-bar progress-bar-adv" style="width: {{ (1 - stats['possession']) *100}}%">
                    <p>{{ (1 - stats['possession']) *100}}</p>
                </div>
            </div>

            <h1><a href="{{ path('tirs') }}">TIRS</a></h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: {{  (stats['tirs']['tirsClub']/ stats['tirs']['tirsClubToto']) *100}}%">
                    <p>{{  stats['tirs']['tirsClub']}}</p>
                </div>
                <div class="progress-bar progress-bar-adv" style="width: {{  (1 - stats['tirs']['tirsClub']/ stats['tirs']['tirsClubToto']) *100}}%">
                    <p>{{ stats['tirs']['tirsClubToto'] - stats['tirs']['tirsClub'] }}</p>
                </div>
            </div>

            <h1><a href="{{ path('recuperation') }}">RECUPERATIONS</a></h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: {{ (stats['recuperation']['nous'] / ( stats['recuperation']['nous'] + stats['recuperation']['vous']) *100)|round }}%">
                    <p>{{ stats['recuperation']['nous'] }}</p>
                </div>
                <div class="progress-bar progress-bar-adv" style="width: {{ (stats['recuperation']['vous'] / ( stats['recuperation']['nous'] + stats['recuperation']['vous']) *100)|round }}%">
                    <p>{{ stats['recuperation']['vous'] }}</p>
                </div>
            </div>

            <h1><a href="{{ path('CPA') }}">DISCIPLINE</a></h1>
            <div class="progress">
                <div class="progress-bar progress-bar-info" style="width: {{ (stats['cpa']['nous'] / ( stats['cpa']['Toto']) *100)|round }}%">
                    <p>{{ stats['cpa']['nous']}}</p>
                </div>
                <div class="progress-bar progress-bar-adv" style="width: {{ (stats['cpa']['Toto'] / ( stats['cpa']['nous'] + stats['cpa']['Toto'])*100)|round }}%">
                    <p>{{ stats['cpa']['Toto'] - stats['cpa']['nous'] }}</p>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
