{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/possession.css') }}">
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <ul class="score-board">
            <li class="team-home">RCSA</li>
            <li class="score">20 - 0</li>
            <li class="team-visitor">FCB</li>
            <li class="info">06/06/06</li>
        </ul>
    </div>

    <br> <br> <br> <br> <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1><a href="https://media1.tenor.com/images/1d32658488e3814fd3a96b3f95024fa3/tenor.gif?itemid=8170185">POSSESSION</h1>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: 40%">
                        <p>40%</p>
                    </div>
                    <div class="progress-bar progress-bar" style="width: 60%">
                        <p>60%</p>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <br><br><br><br>






    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5">
                <div class="stats">
                    <div class="statsshow">
                        <h3><a href="">PASSES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 40%">
                                <p>{{ passesAmis }}</p>
                            </div>
                            <div class="progress-bar progress-bar" style="width: 60%">
                                <p>60%</p>
                            </div>
                        </div>



                        <h4><a href="">CENTRES</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 99%">
                                <p>99%</p>
                            </div>
                            <div class="progress-bar progress-bar" style="width: 1%">
                                <p>1%</p>
                            </div>
                        </div>




                        <h4>PASSES LONGUES</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 52%">
                                <p>52%</p>
                            </div>
                            <div class="progress-bar progress-bar" style="width: 48%">
                                <p>48%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 text-center">
                <span class="glyphicon glyphicon-backward"></span>
            </div>


            <div class="col-md-5">
                <div class="stats">
                    <div class="statsshow">
                        <h3><a href="">PASSES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 40%">
                                <p>{{ passes }}</p>
                            </div>
                            <div class="progress-bar progress-bar" style="width: 60%">
                                <p>60%</p>
                            </div>
                        </div>



                        <h4><a href="">CENTRES</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 80%">
                                <p>99%</p>
                            </div>
                            <div class="progress-bar progress-bar" style="width: 20%">
                                <p>20%</p>
                            </div>
                        </div>




                        <h4>PASSES LONGUES</h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" style="width: 52%">
                                <p>52%</p>
                            </div>
                            <div class="progress-bar progress-bar" style="width: 48%">
                                <p>48%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    {{ dump(passes) }}

    {{ dump(passesAmis) }}

    {{ dump(test) }}

{% endblock %}

{% block javascript %}

{% endblock %}