{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stats.css') }}">
{% endblock %}

{% block body %}

    {% include 'stats/base_stats.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <h1 class="text-center">POSSESSION</h1>
            </div>
        </div>
    </div>


    <br><br><br><br>






    <div class="container-fluid">
        <div class="row">

            <div class="col-md-5">
                <div class="stats">
                    <div class="statsshow">
                        <h3>PASSES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((passesReussies / passesAmis )*100)|round(0,'floor')  }}%">
                                <p>{{ passesReussies }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((passesPerdues / passesAmis )*100)|round(0,'ceil')  }}%">
                                <p>{{ passesPerdues }}</p>
                            </div>
                        </div>


                        <h3>CENTRES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((centresReussies / centresAmis )*100)|round(0,'floor')  }}%">
                                <p>{{ centresReussies }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((centresPerdus / centresAmis )*100)|round(0,'ceil')  }}%">
                                <p>{{ centresPerdus }}</p>
                            </div>
                        </div>


                        <h3>PASSES LONGUES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((PLReussies / PLAmis)*100)|round(0,'floor')  }}%">
                                <p>{{ PLReussies }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((PLPerdues / PLAmis )*100)|round(0,'ceil')  }}%">
                                <p>{{ PLPerdues }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 text-center"><a href="{{ path('statsmatch') }}">
                    <span class="glyphicon glyphicon-backward"></span></a>
            </div>


            <div class="col-md-5">
                <div class="stats">
                    <div class="statsshow">
                        <h3>PASSES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((passesEReussies / passesEnnemies )*100)|round(0,'floor')  }}%">
                                <p>{{ passesEReussies }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((passesEPerdues / passesEnnemies )*100)|round(0,'ceil')  }}%">
                                <p>{{ passesEPerdues }}</p>
                            </div>
                        </div>


                        <h3>CENTRES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((centresEReussis / centresEnnemies)*100)|round(0,'floor')  }}%">
                                <p>{{ centresEReussis }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((centresEPerdues / centresEnnemies)*100)|round(0,'ceil')  }}%">
                                <p>{{ centresEPerdues }}</p>
                            </div>
                        </div>


                        <h3>PASSES LONGUES</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((PLEReussies / PLEnnemis ) *100)|round(0,'floor')  }}%">
                                <p>{{ PLEReussies }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((PLEPerdues / PLEnnemis )*100)|round(0,'ceil')  }}%">
                                <p>{{ PLEPerdues }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

{% block javascript %}

{% endblock %}
