{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/stats.css') }}">
{% endblock %}

{% block body %}

    {% include 'stats/base_stats.html.twig' %}

    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-offset-3 col-md-6">
                <h1>TIRS</h1>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-5">
                <div class="stats">
                    <div class="statsshow">
                        <h3>TIRS cadrés</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((tirsCadresR / (tirsCadresR + tirsNonCadresR))*100)|round(0,'floor')  }}%">
                                <p>{{ tirsCadresR }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((tirsNonCadresR / (tirsCadresR + tirsNonCadresR))*100)|round(0,'floor')  }}%">
                                <p>{{ tirsNonCadresR }}</p>
                            </div>
                        </div>


                        <h3>DUELS offensifs</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((driblesReussiesR / (driblesReussiesR + driblesEchouesR))*100)|round(0,'floor')  }}%">
                                <p>{{ driblesReussiesR }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((driblesEchouesR / (driblesReussiesR + driblesEchouesR))*100)|round(0,'floor')  }}%">
                                <p>{{ driblesEchouesR }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-2 text-center"><a href="{{ path('statsmatch') }}">
                    <span class="glyphicon glyphicon-backward"></span></a>
            </div>



            <div class="col-md-5">
                <div class="stats">
                    <div class="statsshow">
                        <h3>TIRS cadrés</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((tirsCadresL / (tirsCadresL + tirsNonCadresL))*100)|round(0,'floor')  }}%">
                                <p>{{ tirsCadresL }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((tirsNonCadresL / (tirsCadresL + tirsNonCadresL))*100)|round(0,'floor')  }}%">
                                <p>{{ tirsNonCadresL }}</p>
                            </div>
                        </div>


                        <h3>DUELS offensifs</h3>
                        <div class="progress">
                            <div class="progress-bar progress-bar-info-green" style="width: {{  ((driblesReussiesL / (driblesReussiesL + driblesEchouesL))*100)|round(0,'floor')  }}%">
                                <p>{{ driblesReussiesL }}</p>
                            </div>
                            <div class="progress-bar progress-bar-adv-red" style="width: {{  ((driblesEchouesL / (driblesReussiesL + driblesEchouesL))*100)|round(0,'floor')  }}%">
                                <p>{{ driblesEchouesL }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>






{% endblock %}


{% block javascript %}

{% endblock %}
